<div class="header">
  <h1>BIO DATA</h1>
  <h4>:: You can perform (CRUD) operations in below table</h4>
  <div class="account-options">
    <h4>
      Logged in user:
      <span class="currentUser">{{ currentUserDetail.username }}</span> |
      <a href="#"><em>Click here to signout</em></a>
    </h4>
  </div>
</div>

<div class="custom-container-fluid">
  <nav class="navbar navbar-expand-lg custpm-ligth-bg">
    <div class="container-fluid">
      <a class="navbar-brand">Database Records</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <button
          class="btn btn-outline-success custom-add-btn"
          type="submit"
          data-bs-toggle="modal"
          data-bs-target="#createModal"
        >
          <i class="fa fa-plus"></i> Add New Record
        </button>
      </div>
    </div>
  </nav>

  <table class="table custom-table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Father Name</th>
        <th scope="col">CNIC</th>
        <th scope="col">Domicile</th>
        <th scope="col">Created At</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bioDataElement of bioDataArray">
        <th scope="row">{{ bioDataElement.id }}</th>
        <td>
          <img src="{{ bioDataElement.image }}" width="30px" height="30px" />
        </td>
        <td>{{ bioDataElement.name }}</td>
        <td>{{ bioDataElement.fatherName }}</td>
        <td>{{ bioDataElement.cnic }}</td>
        <td>{{ bioDataElement.domicile }}</td>
        <td>{{ bioDataElement.createdAt | date: "h:mm a . MMM d, y" }}</td>
        <td>
          <div
            *ngIf="
              currentUserDetail.isAdmin ||
              currentUserDetail.id == bioDataElement.creatorId
            "
          >
            <button
              type="button"
              class="btn btn-outline-primary me-2"
              data-bs-toggle="modal"
              data-bs-target="#updateModal"
              (click)="loadTempBioData(bioDataElement)"
            >
              <i class="fa fa-edit"></i> Edit
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
              (click)="loadTempBioData(bioDataElement)"
            >
              <i class="fa fa-trash"></i> Delete
            </button>
          </div>
          <div
            *ngIf="
              !currentUserDetail.isAdmin &&
              currentUserDetail.id != bioDataElement.creatorId
            "
          >
            <p class="read-only-msg">
              <i class="fa fa-eye"></i> Read Only Mode
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="akomaLoaderFlag" id="akoma-loader">
  <div class="flexbox">
    <div>
      <div class="triple-spinner"></div>
    </div>
  </div>
</div>

<!-- Add Bio Data Modal -->
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title custom-modal-title" id="exampleModalLabel">
          Add Record Data <em>(All fields are required)</em>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="bioDataAddForm" (ngSubmit)="addRecord()">
          <div class="mb-3">
            <label for="name" class="form-label">Name*</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="name"
            />
          </div>
          <div class="mb-3">
            <label for="father_name" class="form-label">Father Name*</label>
            <input
              type="text"
              class="form-control"
              formControlName="father_name"
              id="father_name"
            />
          </div>
          <div class="mb-3">
            <label for="cnic" class="form-label">CNIC*</label>
            <input
              type="text"
              class="form-control"
              formControlName="cnic"
              id="cnic"
            />
          </div>
          <div class="mb-3">
            <label for="domicile" class="form-label">Domicile*</label>
            <select
              id="domicile"
              formControlName="domicile"
              class="form-select"
              aria-label="Default select example"
            >
              <option
                *ngFor="let domicileElement of domicileDataArray"
                value="{{ domicileElement.title }}"
              >
                {{ domicileElement.title }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image*</label>
            <input
              type="text"
              class="form-control"
              formControlName="image"
              id="image"
            />
            <!-- <div
              class="custom-dropzone"
              ngx-dropzone
              [accept]="'image/*'"
              (change)="onUploadImage($event)"
            >
              <ngx-dropzone-label>
                <div>
                  <h2>Upload Profile Picture</h2>
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
              >
              </ngx-dropzone-image-preview>
            </div> -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              <i class="fa fa-plus"></i> Add New Record
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Bio Data Modal -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title custom-modal-title" id="exampleModalLabel">
          Update Record Data
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="bioDataUpdateForm"
          (ngSubmit)="updateRecord(tempBioDataObj.id)"
        >
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="name"
              [(ngModel)]="tempBioDataObj.name"
            />
          </div>
          <div class="mb-3">
            <label for="father_name" class="form-label">Father Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="father_name"
              id="father_name"
              [(ngModel)]="tempBioDataObj.fatherName"
            />
          </div>
          <div class="mb-3">
            <label for="cnic" class="form-label">CNIC</label>
            <input
              type="text"
              class="form-control"
              formControlName="cnic"
              id="cnic"
              [(ngModel)]="tempBioDataObj.cnic"
            />
          </div>
          <div class="mb-3">
            <label for="domicile" class="form-label">Domicile</label>
            <select
              id="domicile"
              formControlName="domicile"
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="tempBioDataObj.domicile"
            >
              <option
                *ngFor="let domicileElement of domicileDataArray"
                value="{{ domicileElement.title }}"
              >
                {{ domicileElement.title }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input
              type="text"
              class="form-control"
              formControlName="image"
              id="image"
              [(ngModel)]="tempBioDataObj.image"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              <i class="fa fa-edit"></i> Update Record
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Bio Data Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title custom-modal-title" id="exampleModalLabel">
          Are you sure you want to <strong>DELETE</strong> this record ?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <p class="form-label">Image:</p>
          <img src="{{ tempBioDataObj.image }}" height="150px" width="150px" />
        </div>
        <div class="mb-3">
          <p class="form-label">
            Name: <strong>{{ tempBioDataObj.name }}</strong>
          </p>
        </div>
        <div class="mb-3">
          <p class="form-label">
            Father Name: <strong>{{ tempBioDataObj.fatherName }}</strong>
          </p>
        </div>
        <div class="mb-3">
          <p class="form-label">
            CNIC: <strong>{{ tempBioDataObj.cnic }}</strong>
          </p>
        </div>
        <div class="mb-3">
          <p class="form-label">
            Domicile: <strong>{{ tempBioDataObj.domicile }}</strong>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            (click)="deleteRecord(tempBioDataObj.id)"
          >
            <i class="fa fa-trash"></i> Yes, Delete This Record
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
