/* Header/Logo Title */
.header {
  padding: 40px;
  text-align: center;
  background: #212529;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {
  padding: 20px;
}

.currentUser {
  background-color: greenyellow;
  color: #212529;
  font-size: 22px;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.custpm-ligth-bg {
  background-color: white;
}

.custom-add-btn {
  font-size: 18px;
  font-weight: 900;
}

.custom-modal-title {
  color: black;
}

.form-label {
  color: black;
}

.form-control,
.form-select {
  background-color: whitesmoke;
  color: black;
}

.custom-table {
  background-color: rgb(241, 241, 241);
  padding: 5px 0px;
}

.read-only-msg {
  color: #212529;
  font-size: 15px;
  font-weight: 600;
}
